
body {
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

/* 'otherUserName_LinkBtn' design code */
.otherUserNameLinkBtn {
    text-decoration: none;
    text-align: center;
    width: auto;
    height: auto;
    white-space: nowrap;
    border-style: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
}

    .otherUserNameLinkBtn:hover {
        color: #000000;
        text-decoration: none;
    }

/* 'Like', 'Comment' & 'Report' link-button design code */
.likeCommentReportLinkBtn {
    text-decoration: none;
    text-align: center;
    width: auto;
    height: auto;
    white-space: nowrap;
    border-style: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
}

    .likeCommentReportLinkBtn:hover {
        text-decoration: none;
        color: #000000;
    }

.postHeadingLabel {
    text-decoration: none;
    color: #000000;
    cursor: default;
}

    .postHeadingLabel:hover {
        text-decoration: none;
        color: #000000;
        cursor: default;
    }
