body {
    background: -webkit-linear-gradient(left, #17202A, #5D6D7E);
}

/* Styling for login window */
.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 1rem;
    /*margin: 10px auto 30px;*/
    max-width: 38%;
    padding: 50px 70px 10px 70px;
    /*padding: 30px 50px 30px 50px;*/
    margin: 10% 32% 0px 0%; /* Align forgot form alignment on webpage */
    float: right;
}

.panel {
    text-align: center;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}

.login a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}

/* Login button design code */
.loginBtn {
    background-color: #0070c9;
    color: white;
    font-weight: 500;
    border: 2px solid #008CBA;
    padding: 1px 10px 1px 10px;
    border-radius: 4px;
    text-align: center;
    width: 80px;
    height: 50px;
    white-space: nowrap;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

    .loginBtn:hover {
        background-color: #147bcd;
        background: -webkit-linear-gradient(#51a9ee, #147bcd);
        background: linear-gradient(#51a9ee, #147bcd);
        border-color: #1482d0;
        text-decoration: none;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
    }

    .loginBtn:active {
        background-color: #0067b9;
        background: -webkit-linear-gradient(#3d94d9, #0067b9);
        background: linear-gradient(#3d94d9, #0067b9);
        border-color: #006dbc;
        outline: none;
    }

    .loginBtn:focus {
        box-shadow: 0 0 0 3px rgba(131,192,253,0.5);
        outline: none;
    }
